@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Roboto");

$black: #000 !default;

$theme-colors: () !default;
$theme-colors: map-merge(
                (
                        'black': $black,
                ),
                $theme-colors
);

body {
  font-family: Montserrat, sans-serif !important;
}

.ploeg {
  max-width: 150px;
}

@media (max-width: 400px) {
  .table-responsive {
    font-size: 10px !important;
  }
}

@media (max-width: 350px) {
  .ploeg {
    max-width: 80px;
    overflow-x: hidden;
  }
}

.clickable {
  cursor: pointer;
}

.nav-link strong {
  text-decoration: underline;
}

